body {
  font-family: sans-serif;
}

.light {
  background: #0e73cc;
  color: #000;
}

.dark {
  background: #0b0c10;
  color: #fff;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: #4800fe; /* neon pink */
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.container {
  max-width: 1200px; /* adjust for your taste */
  width: 90%;         /* responsive */
  margin: 0 auto;     /* center horizontally */
  padding: 2rem;      /* spacing inside */
}
/* make the body stretch full height */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* main container takes full width */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh; /* full viewport height */
}

/* sections inside can have padding and spacing */
.main-container > * {
  padding: 4rem 10%; /* 4rem top/bottom, 10% left/right */
  width: 100%;
}
